@import "tailwindcss";
.light{

background:#f8fafc;
color:#111827;

}

.light body{

background:#f8fafc;

}

.dark{

background:#0f172a;
color:white;

}

.dark body{

background:#0f172a;

}

.blue{

background:#dbeafe;
color:#1e3a8a;

}

.purple{

background:#ede9fe;
color:#581c87;

}

.emerald{

background:#d1fae5;
color:#065f46;

}